/CPPCode/PointTransform/build-PointTransform-Desktop_Qt_5_11_1_GCC_64bit-Debug/
/CPPCode/PointTransform/build-PointTransform-Desktop_Qt_5_12_3_GCC_64bit-Debug/
/CPPCode/PointTransform/build-PointTransform-Desktop_Qt_5_12_3_GCC_64bit-Debug/
/CPPCode/PointTransform/build-PointTransform-Desktop_Qt_5_11_1_GCC_64bit-Debug/
*.user
/CPPCode/rotation2RPY/build-rotation2RPY-Desktop_Qt_5_11_1_GCC_64bit-Debug/
/CPPCode/rotation2RPY/build-rotation2RPY-Desktop_Qt_5_11_1_GCC_64bit-Debug/
/CPPCode/PointTransform/build-PointTransform-Desktop_Qt_5_11_1_GCC_64bit-Debug/
/CPPCode/PointTransform/build-PointTransform-Desktop_Qt_5_12_3_GCC_64bit-Debug/
/CPPCode/rotation2RPY/build-rotation2RPY-Desktop_Qt_5_11_1_GCC_64bit-Debug/
/CPPCode/json_io/build-json_io-Desktop_Qt_5_11_1_GCC_64bit-Debug/
/CPPCode/json_io/build-json_io-Desktop_Qt_5_11_1_GCC_64bit-Debug/
